NEXT_PUBLIC_POLICY_SERVICE_URL=http://localhost:3001
NEXT_PUBLIC_COMPLIANCE_API_URL=http://localhost:3002
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet

NEXT_PUBLIC_POLICY_REGISTRY_PROGRAM=FXD7ycSguBQw7o3DXqq4VUBHtdx5ZQpu9P2zb4KG4ZEU
NEXT_PUBLIC_VERIFIER_PROGRAM=AzKirEv7h5PstLNYNqLj7fCXU9EFA6nSnuoed3QkmUfU
NEXT_PUBLIC_TRANSFER_HOOK_PROGRAM=3GZAsASQHTJTCfHGRKaj26zdAVqcD9VZdpfV9FEwcCQt

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-a-secret-with-openssl-rand-base64-32

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
