POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=aperture
POSTGRES_PASSWORD=aperture_dev_password
POSTGRES_DB=aperture_policy
POLICY_SERVICE_PORT=3001
LOG_LEVEL=info
NODE_ENV=development
USDC_MINT_ADDRESS=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
USDT_MINT_ADDRESS=EJwZgeZrdC8TXTQbQBoL6bfuAnFUQS7QEkCybt4rCxsT
