POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=aperture
POSTGRES_PASSWORD=aperture_dev_password
POSTGRES_DB=aperture_compliance
COMPLIANCE_API_PORT=3002
POLICY_SERVICE_URL=http://localhost:3001
LOG_LEVEL=info
NODE_ENV=development
